[submodule "config"]
	path = config
	url = git@github.com:ionutbortis/dotfiles-config.git
[submodule "data"]
	path = data
	url = git@github.com:ionutbortis/dotfiles-data.git
[submodule "private"]
	path = private
	url = git@github.com:ionutbortis/dotfiles-private.git
